<nav class="cover-navigation navigation--social">
  <ul class="navigation">

  <!-- Twitter -->
  <li class="navigation__item">
    <a href="https://twitter.com/Lucas_yezi" title="Lucas Ying" target="_blank">
      <i class='social fa fa-twitter'></i>
      <span class="label">Twitter</span>
    </a>
  </li>

  </ul>
</nav>